/*按钮颜色*/
$bt-yellow = #FFBD03
$bt-blue = #2049BF
$bt-gray = #CFCFCF

/*背景颜色*/
$bg-gray = #EEEEEE

/*输入框边框*/
$border-gray = 1px solid #ebebeb

/*高度宽度*/
h(n)
  n * 0.13vw

w(n)
  n / 7.5vw

.dialog-layer
  height 100vh
  width 100vw
  background rgba(0,0,0,0.3)
  position fixed
  top 0
  left 0

.dialog-box-black-text
  color #dcdcdc
  transform translate(-50%,-50%)
  position absolute
  top 50%
  left 50%

.dialog-box
  background white
  border-radius 10px
  transform translate(-50%,-50%)
  position absolute
  top 50%
  left 50%
  opacity 1

.dialog-box-black
  background black
  border-radius 3px
  transform translate(-50%,-50%)
  position absolute
  top 50%
  left 50%
  opacity 1

.dialog-box-black-close
  height w(28)
  width w(28)
  position absolute
  right w(30)
  top w(30)
.dialog-car-img
  height h(462)
  width w(600)
  top h(228)
  position absolute

.big-blue-btn
  height h(84)
  width w(579)
  border-radius w(40)
  border transparent
  color white
  font-size w(32)
  background $bt-blue
  position fixed
  transform translate(-50%,0)
  left 50%
  bottom h(190)

.big-gray-btn
  height h(84)
  width w(579)
  border-radius w(40)
  border transparent
  color white
  font-size w(32)
  background $bt-gray
  position fixed
  transform translate(-50%,0)
  left 50%
  bottom h(82)

input:-ms-input-placeholder
  color #D7D7D7

input::-webkit-input-placeholder
  color #D7D7D7

input::-moz-placeholder
  color #D7D7D7

input:-moz-placeholder
  color #D7D7D7


