/*按钮颜色*/
$bt-yellow = #FFBD03
$bt-blue = #2049BF
$bt-grey = #A0A0A0

/*背景颜色*/
$bg-grey = #EEEEEE

/*输入框边框*/
$border-grey = 1px solid #ebebeb

/*高度宽度*/
h(n)
  n * 0.125vw

w(n)
  n / 75vw

input:-ms-input-placeholder
  color #D7D7D7

input::-webkit-input-placeholder
  color #D7D7D7

input::-moz-placeholder
  color #D7D7D7

input:-moz-placeholder
  color #D7D7D7
